/* TODO Add site wide styles */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
      font-family: 'Roboto', sans-serif;
}

#modalButtons {
      color: white;
      background-color: rgb(255, 90, 95);
      border: none;
}

#modalButtons:hover {
      cursor: pointer;
}

#modalItem {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      border: 1px solid white;
      box-shadow: 0px 1px 7px 1px lightgray;
      background-color: rgb(255, 90, 95);
      height: 40px;
}

#modalItem:hover {
      cursor: pointer;
}

.filter-holder {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-top: 1px solid rgb(235, 235, 235);
      height: 70px;
      position: sticky;
      top: 60px;
      z-index: 1;
      background-color: white;
      opacity: 0.9;
      margin-bottom: -10px;
      padding-top: 5px;
}

@media (max-width: 567px) {
      .filter-holder {
            /* visibility: hidden;
            position: absolute; */
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1rem;
            flex-wrap: nowrap;
            overflow-x: auto;
            /* overflow-wrap: normal; */
            /* justify-content: space-evenly; */
            border-top: 1px solid rgb(235, 235, 235);
            height: 70px;
            position: sticky;
            top: 60px;
            z-index: 1;
            background-color: white;
            opacity: 0.9;
            margin-bottom: -10px;
            padding-top: 5px;
      }
 }

/* .filter {
      box-sizing: border-box;
      display: inline-block;
      margin-left: 20px;
      font-weight: lighter;
} */


.filterBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: .6;
}

.filterBox:hover {
      cursor: not-allowed;
}

.filter-icon {
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

}

.filter-word {
      /* border: 1px solid red; */
      padding-top: 3px;
      font-size: 13px;
      font-weight: 500;
      white-space: nowrap;
}

/* Classes */

/* .spots-preview {
      object-fit: contain;
      max-height: 200px;
      border-radius: 15px;
      margin: 10px;
      width: 4.21px;
      border: 1px solid lightgrey;
}
 */

 .card-holder {
      display: grid;
      gap: 1rem;
      margin: 1rem;
      border-top: 1px solid rgb(235, 235, 235);
      padding-top: 20px;
 }

 /* @media (min-width: 550px) {
      .card-holder {
            grid-template-columns: repeat(1, 1fr);
      }
 } */

 @media (min-width: 550px) {
      .card-holder {
            grid-template-columns: repeat(2, 1fr);
      }
 }

 @media (min-width: 850px) {
      .card-holder {
            grid-template-columns: repeat(3, 1fr);
      }
 }

 @media (min-width: 1000px) {
      .card-holder {
            grid-template-columns: repeat(4, 1fr);
      }
 }




/* Id */

#entireCard {
      display: grid;
}

#cardImage {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
}

.spots-preview {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 5%;
}

#cardDetails {
      display: grid;
      grid-template-columns: 3fr 1fr;
      padding: 5px;

}

#leftSideDetails {
      display: grid;
      grid-template-rows: 1fr 1fr;


}

#rightSideDetails {
      display: grid;
      grid-template-rows: 1fr 1fr;

}

#cityState {
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;

}

#rate {
      font-size: 14px;
      display: flex;
      align-items: flex-end;
      font-weight: 300;
}

#star {
      height: 13px;
      margin-right: 5px;

}

#starRating {
      font-size: 15px;
      font-weight: 300;
      display: flex;
      /* flex-direction: row-reverse; */
      justify-content: end;
      align-items: center;
}

.card-link {
      all: inherit;
}

.card-link:hover {
      cursor: pointer;
}


.tooltip-text {
      visibility: hidden;
      position: absolute;
      z-index: 1;
      width: 100px;
      color: white;
      font-size: 12px;
      background-color: rgb(255, 90, 95);
      border-radius: 10px;
      padding: 5px 10px 5px 10px;
    }

    .hover-text:hover .tooltip-text {
      visibility: visible;
    }

    #topTip {
      top: -20px;
      left: 60px;
      opacity: 0;
      transition: opacity 0.5s;
    }

    .hover-text:hover #topTip { opacity: 1; }

    .hover-text {
      position: relative;
      display: inline-block;
      /* margin: 40px; */
      text-align: center;
    }

    #newWordIndex {
      font-size: 12px;
    }
