
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
      font-family: 'Roboto', sans-serif;
}

#login-box {
      display: grid;
      grid-template-rows: 1fr 2fr;
      padding-left: 14px;
      padding-right: 14px;
      padding-bottom: 14px;
      width: 300px;
      justify-content: center;
      border-radius: 10%;
}

#log-in {
      display: flex;
      justify-content: center;
}

#login-form {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
}

.login-form-items {
      width: 295px;
      height: 25px;
      border-radius: 10%;
}

.errorr-login {
      color: rgb(255, 90, 95)
}

#log-in-butt {
      background-color: rgb(255, 90, 95);
      color: white;
      font-size: 17px;
      font-weight: bold;
}

#log-in-butt:hover {
      cursor: pointer;
}

#log-in-butt:disabled {
      background-color: lightgrey;
      cursor: not-allowed;
}

#demo-link {
      text-align: center;
      margin-top: 5px;
}

#demo-link:hover {
      color:rgb(255, 90, 95);
      cursor: pointer;
}
